tasks:
  reading:
    duration: 60
    required: true
    status: "in-progress"
    occurrences: []
  moisturise:
    duration: 5
    required: true
    status: "in-progress"
    occurrences: []
  spanish:
    duration: 15
    required: true
    status: "in-progress"
    occurrences: []
  walk:
    duration: 60
    required: false
    status: "in-progress"
    occurrences: []
  run:
    duration: 60
    required: false
    status: "in-progress"
    occurrences: []
  table_tennis:
    status: "in-progress"
    duration: 20
    required: false
    occurrences:
    - timestamp: 1594846800
      duration: 20
    - timestamp: 1594818000
      duration: 60